body {
    background: pink;
   

.todo-list {
    background: rgb(255, 255, 255);
    margin:100px;
    text-align:center;
    padding: 120px;
    border-radius: 30px;
    color: grey;
    size: 50px;

    



}
}