body {
    font-family: 'Arial,sans serif';
    background: #f4f4f4;
    display: flex;
    justify-content: 'center';
    padding: 50px;
}

.todo-list{
background: white;
padding:30px;
border-radius: 10px;
width:100%
}

.input-group{
    display:flex;
    gap:10px;
    margin-bottom: 20px;
}

#addTaskBtn {
    padding: 10px 15px;
    cursor:pointer;
}

li{
    display:flex;
    justify-content: space-between;
    padding:10px 0;
    border-bottom: 1px;

}

li.done span{
    text-decoration: line-through;
    color:gray;
}

buttom.delete{
    background:none;
    border:none;
    color:red;
    cursor:pointer;
}